@import "./variables";
@import "./func";

/* 容器 */
.listviewItem {
  margin: pxToRem(20px) pxToRem(30px);
  padding: 0 pxToRem(30px);
  background-color: #fff;
  box-shadow: 5px 10px 20px #ccc;
  position: relative;
  box-sizing: border-box;
  list-style: none;
  height: 100%;

  /* 右上角的精灵图 */
  .sprite-icon-manage {
      position: absolute;
      width: pxToRem(57px);
      height: pxToRem(71px);
      top: pxToRem(-3px);
      right: pxToRem(20px);
      background-size: contain;
      background-repeat: no-repeat;

      &.car {
        background-image: url('./../../images/CAR.png');
      }

      &.house {
        background-image: url('./../../images/HOUSE.png');
      }
  }

  .row {
      font-size: pxToRem(30px);
      color: #212121;
      overflow: hidden;
      white-space: nowrap;


      .username {
          float:left;
      }

      /* 房速贷标准件和非标准件的区分图标 */
      .fsd {
        margin: 0 pxToRem(10px);
        height: pxToRem(28px);
        display: inline-block; 
        float: right;
        background-size: contain;
        background-repeat: no-repeat;

        &.span-mistake {
          width: pxToRem(49px);
          background-image: url('../../images/BarBusiness_FB.png');
        }

        &.span-am {
          width: pxToRem(35px);
          background-image: url('../../images/BarBusiness_B.png');
        }
      }

      &.row:nth-child(1) {
           width: 90%;
           display: flex;
           flex-wrap: wrap;
          
          .left-warp, .right-warp {
             margin-top:pxToRem(20px);
             float:left;
          }

          .right-warp {
             color: #999;
          }
      }

      &.row:nth-child(2) {
          padding: pxToRem(40px) 0;
          position: relative;
          
          &:after {
            @include border('bottom', #d9d9d9);
          }
      }

      &.row:nth-child(3) {
          height:pxToRem(68px);
      }
  }
  
  .row-last {
      font-size: pxToRem(24px);
      
      .text-span-gray {
          color: #999;
      }
      
      .row-last-top {
          margin-top: pxToRem(24px);
      }
      
      .row-last-bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: pxToRem(30px) 0;
      }
      .right-warp {
          display: flex;
          align-items: center;
          justify-content: space-between;
          min-width: pxToRem(120px);
      }
  }

  .flex {
     display: flex;

     .left-warp, .right-warp {
        flex: auto;
        font-size: pxToRem(24px);
        color: #999999;
        display: flex;
        align-items: center;
     }
     .right-warp {
        justify-content: flex-end;
     }
  }

  .num-span {
     font-size: pxToRem(36px);
     color: #2DA5FF;
     margin:0 pxToRem(10px);
  
     &:first-child {
        margin: 0 pxToRem(10px) 0 0;
     }
  }

  .text-span {
     color: #000;
     font-size: pxToRem(24px);
  }

  /* 小圆圈 */
  i.circle {
      display: inline-block;
      width: pxToRem(10px);
      height: pxToRem(10px);
      margin-right:pxToRem(10px);
      border-radius: 100%;

      &.circle-green {
          background-color: #FFBA00;
      }

      &.circle-blue {
          background-color: #74CBEB;
      }
      
       &.circle-red {
          background-color: #D7122D;
      }
  }

 

  /* 按钮样式 */
  .btn {
      height: pxToRem(58px);
      font-size: pxToRem(32px);
      border: 1px solid #2DA5FF;
      border-radius: 5px;
      line-height: pxToRem(58px);
      padding: 0 pxToRem(20px);

      &.btn-white {
        color: #2DA5FF;
        background-color: #FFF;
      }

      &.btn-blue {
        color: #FFF;
        background-color: #2DA5FF;
      }

      &.btn-link {
        color: #2DA5FF;
      }
  
      &:not(:first-child) {
        margin-left:pxToRem(30px);
      }
  }
}
